<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,120},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{170,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,57}}</string>
                <key>sourceSize</key>
                <string>{170,57}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,57}}</string>
                <key>sourceSize</key>
                <string>{170,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775e9697c7739e2e554b2eff4e104a6f:1/1$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
