<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{202,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,14}}</string>
                <key>sourceSize</key>
                <string>{202,14}</string>
            </dict>
            <key>bar_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,14}}</string>
                <key>sourceSize</key>
                <string>{202,14}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{199,57}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,57}}</string>
                <key>sourceSize</key>
                <string>{211,57}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loader.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb3d744f99f9f548f0901a30f012d18:1/1$</string>
            <key>textureFileName</key>
            <string>loader.png</string>
        </dict>
    </dict>
</plist>
